body
{
/* lettertype */
font-family: sans-serif;
/* achtergrond kleur */
background-color: gold;

}


img
{
    background-color: #fff;
    max-width: 100%;
}

/* Sommige paragrafen geven we een linkse inspringing

.inspringing
{
margin-left:40px;
}

h1,.note,a
{
 /* onze heading een beetje groter maken */
  font-size: 4rem;  
  font-style : italic;
  color:red;
}
